.footer{
    @include flexCenter(column);
    // position: fixed;
   bottom: 0;
   width: 100%;
   left: 0;
   margin: 40px auto;
   text-align: center;
    
}
.footer-text{
    color: $gray;
    font-size: .7rem;
}
.footer-socials{
    margin: 20px;
    @include flexCenter(row);
    gap: 10px;
    ion-icon{
        color: $primary-blue;
    }
    &>*{
        border: 1px solid $pale-blue;
        padding: 5px;
        border-radius: 50%;
        transition: all .2s;
        &:hover{
            cursor: pointer;
            color: #fff;
            background-color: $primary-blue;
        }
    }
    
}