@mixin flexCenter($direction){
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}
header{
    @include flexCenter(column);
    
    
}
.header-logo{
    margin: 40px;
}
.header-text{
    text-align: center;
}
.header-text__h{
    
    font-size: 2.5rem;
   color: $gray;
   .accent{
    color: black;
    font-weight: 700;
   }
}
.header-text__p{
    margin: 15px auto 30px auto;
}
@media(max-width:$screen-change){
.header-text__h{
    font-size: 1.5rem;
}
.header-text__p{
    margin: 20px auto 30px auto;
}
}