@mixin inputShape($padd){
    border-radius: 50px;
    padding: 15px 50px 15px $padd;
}
.main{
    @include flexCenter(column);
    
}
.main-form{
    width: 100%;
    .error{
        input{
            border-color: $light-red;
        }
        .error-text{
            position: absolute;
            transform: translateX(-150px) translateY(34px);
            
            font-style: italic;
            color: $light-red;
            font-size: .7rem;
        }}
    .form{
        @include flexCenter(row);
        gap: 15px;
        
    //         color: $light-red;
    // float: left;
    // font-style: italic;
    // font-size: .7rem;
        }
    
    &__input{
        @include inputShape(20px);
    border: 1px solid $pale-blue;
    min-width: 20%;
    &::placeholder{
        color: $gray;
    }
    }
    &__button{
        @include inputShape(50px);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        background-color: $primary-blue;
        color: #fff;
        border: none;
        transition: all .2s;
        font-family: $font-family;
        font-weight: 600;
        &:hover{
            opacity: .9;
            cursor: pointer;
        }
    }
}


.main-picture{
    max-width: 500px;
    margin-top:50px ;
    img{
        width: 100%;
    }
}
@media(max-width:1174px){
    .main-form{
        .error{
            .error-text{
                transform: translateX(-110px) translateY(40px);
            }
    }
    
}
}

@media(max-width:$screen-change){
    .main-form{
        .form{
            flex-direction: column;
            &>*{
                
                margin: auto 20px;
            }
        }
        &__input{
            width: calc(100% - 120px);
        }
        &__button{
            width: calc(100% - 50px);
        }
        .error{
            gap: 35px;
            .error-text{
                transform: translateX(-80px) translateY(0px);
            }
        }
    }
}
@media(max-width:350px){
    .main-form{
        .error{
            .error-text{
                transform: translateX(0px) translateY(0px);
            }
    }
}}